@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
.Intro{
    max-height: 500px;
    min-height: 300px;
    background-color: #2980B9;
}
.Intro-welcome{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color: white;
}

.Intro-mission{
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 24px;
    padding: 10px;
    color: white;
}

.Intro-whatwedo{
    text-align: center;
    margin: auto;
    max-width: 50em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    padding: 10px;
    color: white;
}


.Officers-title{
    padding: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    text-align: center;
}

.Officer{
    position: relative;
    display: block;
    float: left;
    padding: 10px;
    margin: 0 5px;
}

@media screen and (min-width: 992px) {
    .Officers{
        display: flex;
        justify-content: center;
    }
    .Officer{
        position: relative;
        display: block;
        float: left;
        padding: 10px;
        margin: 0 5px;
    }
}

.Name {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
}

.Title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 24px;
}