@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.ContactUs-welcome{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}