@import url('https://fonts.googleapis.com/css?family=Roboto:100');

/*
html, body{
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url("../images/robonaut.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
*/

/* Set background image */
.Home {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 320px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url("../images/robonaut.jpeg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
    
}

/* Set welcome font*/
.Home-welcome {
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.Home-signature{
    position: absolute;
    padding: 10px;
    text-align: center;
    bottom: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.Home-signature:hover{
    color: #d3d3d3;
}

a:hover{
    text-decoration: none;
}